* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Readex Pro', sans-serif;
    font-weight: 500;
    direction: rtl;
}

:root, [data-theme="light"] {
    --primary: #244f89;
    --text: #000000;
    --bg: #ffffff;
}

:root[data-theme="dark"] {
  --text: #ffffff;
  --bg: #121212;
}

body {
    background: var(--dark);
    color: var(--text);  
    display: grid;
    height: 100vh;
    grid-template-rows: 120px 1fr;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 1.25rem;
    font-weight: 600;
    font-family: "Cairo", sans-serif;
}

img.logo {
    width: 48px;
    margin-left: 8px;
}
main {
    width: 100%;
}

#questions {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: start;
    /* display: grid;
    grid-template-columns: repeat(4, minmax(240px, 1fr));
    gap: 20px; */
}

@media (max-width: 768px) {
    #questions {
        grid-template-columns: repeat(2, 1fr);
    }
}

.q {
    width: 100%;
    height: 320px;
    /* background-color: #121212;
    color: white; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 40px;
    background: #e6e6ec;
}
.q-title {
    color: var(--primary);
    margin-top: 24px;
    font-size: 20px;
}
.q button {
    display: block;
    width: 100%;
    margin: 0;
    border: 2px solid var(--primary);
    background-color: transparent;
    color: var(--primary);
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    outline: none;
    font-size: 0.8rem;
    border-radius: 3px;
}

.chosen {
    background-color: var(--primary)!important;
    color: white!important;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    align-items: center;
}

nav i {
    margin: 10px 0;
}

.field-btn {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--primary);
    background-color: transparent;
    color: var(--primary);
    transition-duration: 0.3s;
    display: none;
}
.field-btn:hover {
    background-color: var(--primary);
    color: white;
}

.field {
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.25rem;
    display: none;
}


@media (max-width: 992px) {
    #questions {
        width: 100% !important;
    } /* الو */
}


/* انت محمله؟ */
/* اه */
/* في مشكلة 
بص هحاول احل المشكلة هدخل من اكونت فيك واشوف ازاي بتتعمل تمام
انا كدة مش هعرف اعمل رن للكود
انا ببحث عنها اهو
تمام
*/
svg{
    fill: var(--primary);
    left: 30px;
    margin-top: 10px;
    position: absolute;
    transition: 0.60s;
}
svg:hover{
    fill: #222;
}
